body {
    margin: 0;
    font-family: 'Tahoma';
}
.container {
    width: 1750px;
    margin: 0 auto;
}
.header-top {
    background-color: #bcd4f4;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 16px;
}
.header-main {
    background-color: #323232;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 17px 17px 36px;
}
.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.menu>li {
    display: inline-block; /* tách thành các khối trên cùng 1 hàng*/
    text-transform: uppercase;
}
.menu>li>a {
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
}
.form-search-input {
    border: 1px solid #cccccc;
}
.form-search-btn {
    background-color: #272f45;
    border: 1px solid #cccccc;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    height: 21px;
}
.menu>li>a:hover {
    text-decoration: underline;
}
section {
    margin-top: 20px;
    margin-bottom: 15px;

}
.content .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* fraction tự chia các cột theo tỷ lệ */
    grid-gap: 30px;
}
.content .col {
    border: 1px solid #d7caba;
    padding: 15px 25px;
}
.content p {
    font-size: 13px;
    color: #000;
}
.content h3 {
    font-size: 16px;
    color: rgb(112, 22, 22);
}
footer {
    background-color: #eae2d8;
    text-align: center;
    padding: 10px 0;
}
footer span {
    color: black;
    font-size: 13px;
}


img {
    width: 150px;
    height: 100px;
}
.product-table {
    width: 100%; 
    border-collapse: collapse; 
    margin-bottom: 20px; 
}
.update-product-image{
    position: absolute;
    right: 678px;
    width: 256px;
    height: 160px;
    border-radius: 7px;
}
.product-table th,
.product-table td {
    border: 1px solid #ddd; 
    padding: 8px;
    text-align: left; 
}

.product-table th {
    background-color: #f2f2f2; 
}

.product-table th:nth-child(1),
.product-table td:nth-child(1) {
    width: 18%; 
}

.product-table th:nth-child(2),
.product-table td:nth-child(2) {
    width: 15%;
    text-align: center; 
}
#update-product{
    margin: 122px 0 0 40px;
}
.product-table th:nth-child(3),
.product-table td:nth-child(3) {
    width: 13%;
}

.product-table th:nth-child(4),
.product-table td:nth-child(4) {
    width: 30%; 
}

.product-table th:nth-child(5),
.product-table td:nth-child(5) {
    width: 10%; 
    text-align: center; 
}

.product-image {
    width: auto; 
    height: 100px;
    display: inline-block; 
}



img.product-img {
    width: 100%; 
    max-width: 120px; 
    height: auto; 
}
#name{
    margin-bottom:20px ;
}
/* form #name,#price,#describe{
    width: 300px;
    height: 29px;
    border: 2px solid #a49a9a;
    border-radius: 5px;
} */

/* Phần nội dung quản trị */
.admin-content {
    padding: 20px;
    flex: auto;
}
.admin-content h1 {
    border-bottom: 1px solid #bdc3c7;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* Nút điều hướng và thao tác */
.submit-btn, .add-btn, .delete-btn, .edit-btn {
    padding: 10px 15px;
    background-color:#cd9191;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
#list{
    width: 170px;
}
/* Phần thêm tài khoản */
.container-add {
    display: flex;
    width: 664px;
    height: 488px;
    margin: 50px auto;
    padding: 20px 0px 20px 40px;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.container-edit {
    display: flex;
    width: 664px;
    height: 488px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.input-group-add-2 {
    display: flex;
    gap: 46px;
    margin-bottom: 15px;
}
#buttons{
    margin-top: 116px;
}
.input-group-add, .input-group-add-2 .left-box, .input-group-add-2 .right-box {
    margin-bottom: 20px;
}

input[type="text"],input[type="email"],input[type="tel"],   input[type="number"], input[type="file"], textarea, select {
    width: 282px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #b1b0b0;
    border-radius: 5px;
}
.box-image{
    padding-bottom: 35px;
}

/* user */
.user-table {
    width: 100%; 
    border-collapse: collapse; 
    margin-bottom: 20px; 
}
.user-table th,
.user-table td {
    border: 1px solid #ddd; 
    padding: 8px;
    text-align: left; 
}

.user-table th {
    background-color: #f2f2f2; 
}

.user-table th:nth-child(1),
.user-table td:nth-child(1) {
    width: 16%; 
}

.user-table th:nth-child(2),
.user-table td:nth-child(2) {
    width: 11%;
    text-align: center; 
}

.user-table th:nth-child(3),
.user-table td:nth-child(3) {
    width: 15%;
}

.user-table th:nth-child(4),
.user-table td:nth-child(4) {
    width: 19%; 
}

.user-table th:nth-child(5),
.user-table td:nth-child(5) {
    width: 10%; 
    text-align: center; 
}
/* add-user */
/* add account */
.container-adduser {
    display: flex;
    margin:50px 50px 418px;
    padding: 20px;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 931px;
    height: 347px;
}

.avatar-adduser {
    flex: 0.5;
    padding-right: 20px;
}

.avatar-image {
    width: 261px;
    height: 237px;
}

.avatar-user {
    display: flex;
    align-items: center;
}

.avatar-add {
    margin: 13px;
    text-align: center;
}


.group-add {
    margin-bottom: 20px;
}

.name-add {
    margin-right: 40px;
}



#name-user, #address-user, #phone-user, #email-user{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #b1b0b0;
    border-radius: 5px;
}
form {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}
#show-user{
    margin: 30px 10px 0 42px;
}
/* admin */
.right{
    margin-left: 1036px;
}
.center{
    text-align: center !important;
}
